body{
    background-color: black;
}
.wrapper
        {
            position: absolute;
            top: 40%;
            left: 50%;
            width: 142px;
            height: 40px;
            margin: -20px 0 0 -71px;
            background: rgb(0, 0, 0);
            filter: contrast(20);
        }
        .dot
        {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 12px;
            left: 5px;
            /* filter: blur(4px); */
            /* background: #1d52ad; */
            border-radius: 50%;
            transform: translateX(0);
            animation: dot 2.8s infinite;
        }
        .dots
        {
            transform: translateX(0);
            margin-top: 12px;
            margin-left: 31px;
            animation: dots 2.8s infinite;
        }
            span
        {
            display: block;
            float: left;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            filter: blur(4px);
            background: #1d52ad;
            border-radius: 50%;
        }


        .text-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            text-align: center;
            
        }
        .text-box p{
            font-size: 30px;
            font-family: "Roboto", Sans-serif;
        }
        .text-box a{
            padding: 10px 20px;
            color: white;
            background-color: transparent;
            font-size: 20px;
            border: 2px solid #1d52ad;
            text-decoration: none;
            font-family: "Roboto", Sans-serif;

        }

        @keyframes dot
        {
        50%
            {
            transform: translateX(96px);
            }
        }
        @keyframes dots
        {
        50%
            {
            transform: translateX(-31px);
            }
        }